<p>Works!</p>
<table *ngIf="users && users.length > 0">
    <thead>
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Email</th>
        <th>Password</th>
        <th>Created At</th>
        <th>Updated At</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td><input [(ngModel)]="user.username" /></td>
        <td><input [(ngModel)]="user.email" /></td>
        <td><input [(ngModel)]="user.password" type="password" /></td>
        <td>{{ user.created_at }}</td>
        <td>{{ user.updated_at }}</td>
        <td>
          <button (click)="deleteUser(user.id)">DELETE</button>
        </td>
      </tr>
    </tbody>
</table>
  